# If you don't have environment variables, uncomment the following line to skip validation:
# SKIP_ENV_VALIDATION=true



# --- DATABASE URL ---

# You may be given multiple database URLs. Add them all to this file, and
# prefix each with "DATABASE_URL=". Ensure only one is uncommented at a time.

# Development Branch:
DATABASE_URL=

# Personal Branch:
# DATABASE_URL=



# --- ACCOUNT AUTHENTICATION ---

# Use "http://localhost:3000" for local development
BETTER_AUTH_URL=
# Generate a random string with at least 32 characters by running this in your terminal: `openssl rand -base64 32`
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# --- NEBULA API ---

NEBULA_API_URL="https://api.utdnebula.com"
NEBULA_API_STORAGE_BUCKET="jupiter"
NEBULA_API_KEY=
NEBULA_API_STORAGE_KEY=
NEBULA_API_EMAIL_KEY=



# --- OPTIONAL ---

# JSON object for Google Gemini authentication (for AI features)
GEMINI_SERVICE_ACCOUNT=

# License key to remove banner for paid Syncfusion components
NEXT_PUBLIC_SYNCFUSION_LICENSE_KEY=

# Endpoint URL that the client sends data to
# To preview Sentry's "Report a Bug" button, set to: "https://examplePublicKey@o0.ingest.sentry.io/0"
NEXT_PUBLIC_SENTRY_DSN=

# Connect to oAuth proxy on prod. Useful when port forwarding
OAUTH_PROXY_SECRET=

# Additional whitelisted URLS for BetterAuth. Useful when port forwarding
# Either a string or an array of valid URLs
# e.g. ["https://*.devtunnels.ms"]
AUTH_TRUSTED_ORIGINS=