# --- DATABASE URL ---

# You may be given multiple database URLs. Add them all to this file,
# prefixed with "DATABASE_URL=", and ensure only one is uncommented at a time.

# Development Branch:
DATABASE_URL=

# Personal Branch:
# DATABASE_URL=



# --- ACCOUNT AUTHENTICATION ---
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# --- NEBULA API ---
NEBULA_API_URL=
NEBULA_API_KEY=
NEBULA_API_STORAGE_BUCKET=
NEBULA_API_STORAGE_KEY=
NEBULA_API_EMAIL_KEY=



# --- OPTIONAL ---

# JSON object for Google Gemini authentication (for AI features)
GEMINI_SERVICE_ACCOUNT=

# License key to remove banner for paid Syncfusion components
# Variable name must be prefixed with NEXT_PUBLIC to be accessible on the client
NEXT_PUBLIC_SYNCFUSION_LICENSE_KEY=

# Additional whitelisted URLS for BetterAuth. Useful when port forwarding
# Either a string or an array of valid URLs
# e.g. ["https://*.devtunnels.ms"]
AUTH_TRUSTED_ORIGINS=