# Clubs Project Lead or Head of Engineering should sign off on any PRs
* @UTDNebula/clubs-lead @UTDNebula/head-of-engineering

# Database migrations need to be checked by someone
src/server/db/migrations/* @nl32
