@layer theme, base, mui, components, utilities;
@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@utility items-normal {
  align-items: normal;
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/*If changing be sure to update in theme.ts too*/
@theme {
  --color-haiti: #090b2c;
  --color-persimmon-50: #ffe5de;
  --color-persimmon-100: #ffcabd;
  --color-persimmon-200: #ffb09d;
  --color-persimmon-300: #ff947e;
  --color-persimmon-400: #ff7760;
  --color-persimmon-500: #ff5743; /* brand accent, danger*/
  --color-persimmon-600: #d14a39;
  --color-persimmon-700: #a43d2e;
  --color-persimmon-800: #793025;
  --color-persimmon-900: #51231b;
  --color-royal: #573dff; /* brand secondary (dark)*/
  --color-royalDark: #3c2ab2;
  --color-cornflower-50: #eae4ff;
  --color-cornflower-100: #d3caff; /* ~periwinkle*/
  --color-cornflower-200: #bcb0fe;
  --color-cornflower-300: #a297fd;
  --color-cornflower-400: #857efc;
  --color-cornflower-500: #6266fa; /* brand primary*/
  --color-cornflower-600: #5455cc;
  --color-cornflower-700: #45449f; /* ~royal*/
  --color-cornflower-800: #363475;
  --color-cornflower-900: #28254d;
  --color-periwinkle: #c2c8ff; /* brand secondary (light)*/
  --color-shade: #101828; /* drop shadow color from shipfaster ui*/

  --font-display: Bai Jamjuree, Roboto, sans-serif;
  --font-main: Inter, Roboto, sans-serif;
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: #edeff2;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  * {
    box-sizing: border-box;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .tag-container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .tag-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
