name: Lint and Formatting Check

on: push

jobs:
  main:
    name: Run ESLint + Prettier
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Run npm install
        run: npm ci

      - name: Set up test environment file
        run: echo "GOOGLE_CLIENT_ID=dummy" > .env && echo "GOOGLE_CLIENT_SECRET=dummy" >> .env && echo "NEXTAUTH_URL=http://localhost:3000" >> .env && echo "NEXTAUTH_SECRET=dummy" >> .env && echo "DATABASE_URL=dummy" >> .env && echo "DISCORD_CLIENT_ID=dummy" >> .env && echo "DISCORD_CLIENT_SECRET=dummy" >> .env && echo "NEBULA_API_URL=dummy" >> .env && echo "NEBULA_API_STORAGE_BUCKET=dummy" >> .env && echo "NEBULA_API_KEY=dummy" >> .env && echo "NEBULA_API_STORAGE_KEY=dummy" >> .env && echo "GEMINI_SERVICE_ACCOUNT=dummy" >> .env && echo "SENTRY_AUTH_TOKEN=dummy" >> .env

      - name: Run ESLint
        run: npm run lint:check

      - name: Run Prettier
        run: npm run format:check
